/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {

  /* Colors */
  --primary-color: #6938C0;
  --purple--secondary-color: #ECE4FA;
  --red--secondary-color: #FF2C2C;
  --green--secondary-color: #3AC2BA;
  --yellow--secondary-color: #FABE1C;
  --blue--secondary-color: #055DFA;
  --black-color: black;
  --white-color: white;

  /* Font and Typography */
  --font-poppins: "Poppins", sans-serif;

  /* Font size */
  --xxl-font-size: 48px;
  --xl-font-size: 32px;
  --l-font-size: 24px;
  --m-font-size: 20px;
  --s-font-size: 16px;
  --xs-font-size: 14px;

  /* Font weight */
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-poppins);
  background-color: var(--white-color);
  color: var(--black-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

/* Header */

header {
  width: 100%;
  padding: 24px 120px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: var(--xl-font-size);
  font-weight: var(--font-bold);
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 410px;
}

.menu-item a{
  color: var(--black-color);
  font-size: var(--s-font-size);
  font-weight: var(--font-semibold);
}

.menu-item .highlight {
  color: var(--primary-color);
}

.cta {
  width: 180px;
  font-size: var(--xl-font-size);
  padding-left: 140px;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
  
.MainContainer{
    width: 100%;
    min-height: 100vh;
    margin-top: 10px;
    margin-bottom: 25px;
}

.MainHeader {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
  
.Contents{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
}

.LeftContents {
    display: flex;
    flex-direction: column;
}

.CreateNewGroup {
    margin-left: 10px;
    border-radius: 6px;
    background-color: #6938c0;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 7px 10px;
    width: 341px;
    height: 47px;
    border: none;
    align-items: center;
}

.CreateNewGroup:hover {
  cursor: pointer;
  background-color: #5b52e1;
}

.GroupsContainer1 {
    display: flex;
    max-width: 480px;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.GroupsSection {
    border-radius: 0 10px 10px 0;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    display: flex;
    width: 350px;
    flex-direction: column;
}

.GroupsHeader {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 26px;
    padding: 35px 47px 0px 47px;
}

.GroupsHeaderTitle {
    font: 600 20px Poppins, sans-serif;
}

.ViewAllGroups {
    font: 400 14px Poppins, sans-serif;
    margin-left: 10px;
    width: 70px;
}

.GroupLists {
    display: flex;
    flex-direction: column;
    padding: 0px 47px 19px;
}

.GroupItem {
    display: flex;
    gap: 19px;
    margin-bottom: 36px;
}

.GroupItem:last-child {
    margin-bottom: 0;
}

.GroupImage {
    border-radius: 10px;
    background-color: #d9d9d9;
    width: 60px;
    height: 60px;
}

.GroupDetails {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.GroupName {
    color: #000;
    font: 700 16px Poppins, sans-serif;
}

.GroupActivity {
    color: #a1a1a1;
    margin-top: 6px;
    font: 500 10px Poppins, sans-serif;
}

.MiddleContents {
    display: flex;
    flex-direction: column;
}

/* .Filters {
    display: flex;
    justify-content: baseline;
    margin-top: 30px;
  }
  
  .FilterText {
    font-size: 16px;
    font-weight: bold;
    margin-right: 10px;
  }
  
  .Filtering {
    font-size: 14px;
    font-weight: lighter;
  }
  
  .DownArrowImg {
    aspect-ratio: 2;
    object-fit: auto;
    object-position: center;
    width: 12px;
    fill: #a1a1a1;
    align-self: center;
    margin-left: 5px;
  } */

  .sort-by{
    margin-top: 15px;
    display: flex;
  }
  
  .sort-by h3{
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 600;
  }
  
  .sort-by select{
    padding: 10px 10px;
    font-weight: 500;
    color: var(--grey-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .sort-by select:focus, .sort-by select:hover{
    outline: none;
    color: var(--second-grey-color);
  }
  
  .OtherUserContainer {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  
  .OtherUserCard {
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    display: flex;
    width: 519px;
    height: 259px;
    flex-direction: column;
    padding: 29px 30px 12px;
  }
  
  @media (max-width: 991px) {
    .OtherUserCard {
      max-width: 100%;
      padding: 0 20px;
    }
  }
  
  .OtherUserProfile {
    display: flex;
    gap: 19px;
    font-size: 10px;
  }
  
  @media (max-width: 991px) {
    .OtherUserProfile {
      white-space: initial;
    }
  }
  
  .ProfileImg {
    aspect-ratio: 0.97;
    width: 32px;
    object-fit: cover;
  }
  
  .OtherUserProfileInfo {
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  
  .OtherUserName {
    color: #000;
    font-family: Poppins, sans-serif;
    font-weight: bold;
  }
  
  .OtherUserOccupation {
    color: #a1a1a1;
    font-family: Poppins, sans-serif;
    font-weight: 500;
  }
  
  .OtherUserPosting {
    color: #000;
    text-align: justify;
    align-self: flex-end;
    margin-top: 11px;
    font: 400 10px Poppins, sans-serif;
    margin-left: 52px;
  }
  
  .OtherUserAction {
    align-self: center;
    display: flex;
    margin-top: 15px;
    width: 217px;
    max-width: 100%;
    align-items: flex-start;
    gap: 20px;
    justify-content: space-between;
  }
  
  .LikeImg {
    aspect-ratio: 1;
    object-fit: cover;
    width: 15px;
  }
  
  .CommentImg {
    aspect-ratio: 1.06;
    width: 16px;
    stroke-width: 1px;
    stroke: #858585;
  }
  
  .ShareImg {
    aspect-ratio: 0.81;
    width: 13px;
  }
  
  .RightSide {
    display: flex;
    flex-direction: column;
  }

  .CommunityFields {
    margin-right: 10px;
    border-radius: 6px;
    background-color: #6938c0;
    gap: 10px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    padding: 7px 10px;
    width: 341px;
    height: 47px;
    border: none;
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.AllFilter {
    display: flex;
}

.ArrowDownIcon {
    margin-left: 10px;
}

.CommunityContainer {
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, 0.15);
    background-color: #fff;
    display: flex;
    max-width: 375px;
    flex-direction: column;
    padding: 30px 36px 9px;
    border-radius: 10px 0 0 10px;
    margin-top: 10px;
}

.CommunityHeader {
    color: #000;
    font: 600 20px Poppins, sans-serif;
}
  
.purple-text {
    color: rgba(105, 56, 192, 1);
}

.CommunitySearchBox {
    justify-content: center;
    display: flex;
    margin-top: 25px;
    flex-direction: column;
    font-size: 14px;
    color: #a5a5a5;
    font-weight: 300;
}

.CommunitySearchInput {
    padding: 7px 10px;
    border-radius: 6px;
    background-color: var(--Purple-Secondary-Colour, #ece4fa);
    display: flex;
    gap: 20px;
}

.SearchIcon {
    width: 18px;
    aspect-ratio: 1;
    object-fit: auto;
    object-position: center;
    fill: #a1a1a1;
}

.SearchInput {
    font-family: Poppins, sans-serif;
    border-style: none;
    background-color: var(--Purple-Secondary-Colour, #ece4fa);
}

.GroupsContainer2 {
    display: flex;
    margin-top: 25px;
    flex-direction: column;
}

.GroupItem {
    display: flex;
    gap: 19px;
    margin-top: 25px;
}

.GroupIcon {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-color: #d9d9d9;
}

.GroupDetails {
    display: flex;
    flex-direction: column;
    margin: auto 0;
}

.GroupName {
    color: #000;
    font: 700 16px Poppins, sans-serif;
}

.GroupLastActivity {
    color: #a1a1a1;
    margin-top: 6px;
    font: 500 10px Poppins, sans-serif;
}

/* Footer */
footer {
  width: 100%;
  padding: 24px 120px;
  display: flex;
  flex-direction: column;
  box-shadow: 0px -4px 4px rgba(0, 0, 0, 0.25);
}

.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-items {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.footer-item a {
  color: var(--black-color);
}

.footer-title-item {
  color: var(--black-color);
  font-size: 18px;
  font-weight: var(--font-semibold);
}

.footer-header .social-media .footer-menu-items{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-header .social-media .footer-menu-items .footer-item {
  font-size: var(--xl-font-size);
}

.footer-header .social-media .footer-menu-items .footer-item a {
  color: var(--black-color);
}

.footer-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--black-color);
  padding: 16px 0;
  margin-top: 48px;
}

.footer-footer-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.footer-footer-right a {
  color: var(--black-color);
}